@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
/* //Colors
$primary: #c6531f;
$primary-light: #f9e8d5;
$primary-dark: #b14716;
$secondary: #078ab4;
$secondary-light: #b4e1ef;
$secondary: #037297;
$link-color: #1e75c6;

//Neutrals
$neutral-0: #ffffff;
$neutral-1: #ededed;
$neutral-2: #d9d9d9;
$neutral-3: #b1b1b1;
$neutral-4: #515151;
$neutral-5: #212020;

//Semantic
$danger: #e1260c;
$success: #0a8a0f; */
